<ion-card color="dark" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        <span class="text-primary"> {{i}}. 
          <ion-icon *ngIf="enFavoritos" name="heart" class="heart"></ion-icon>
        </span>
        <span class="noticia-source-name"> {{noticia.source.name}} </span>
        <div class="noticia-more">
          <ion-button fill="clear" (click)="lanzarMenu()">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </div>
      </ion-card-subtitle>
      <ion-card-title (click)="abrirNoticia()">
        {{noticia.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" class="animated fadeIn fast" (click)="abrirNoticia()"></ion-img>
    <ion-card-content *ngIf="noticia.description">
      <p>
        {{noticia.description}}
      </p>
    </ion-card-content>
  </ion-card>
